{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맞춤식단 설정 - 기본 정보</title>
    <link rel="stylesheet" href="{% static 'css/goal.css' %}">                                
</head>
<body>

    <main>
        <aside>
            <ul class="Links">
                <li onclick="Navigate(0)" class="activeLink"><i class="fa-solid fa-house"></i>
                    <p>목표 선택</p>
                </li>
                <li onclick="Navigate(1)"><i class="fa-solid fa-user" ></i>
                    <p>끼니 선택</p>
                </li>
                <li onclick="Navigate(2)"><i class="fa-solid fa-list"></i>
                    <p>기본 정보 입력</p>
                </li>
                <li onclick="Navigate(3)"><i class="fa-solid fa-images"></i>
                    <p>신장 및 체중 입력</p>
                </li>
                <li onclick="Navigate(4)"><i class="fa-solid fa-comments"></i>
                    <p>수면시간 선택</p>
                </li>
                <li onclick="Navigate(5)"><i class="fa-solid fa-comments"></i>
                    <p>에너지 소비량 선택</p>
                </li>
                <li onclick="Navigate(6)"><i class="fa-solid fa-comments"></i>
                    <p>운동 여부 선택</p>
                </li>
            </ul>
        </aside>
        <div class="swiper mySwiper">
            <div class="SlideContainer swiper-wrapper">
                <div class="swiper-slide home-slide">
                    <div class="HomeContent">
                        <h1>Nutri <span class="stylized-name">Life</span>,</h1>
                        <h2>당신의 목표를 위한<span class="proffesions"> 맞춤 식단</span></h2>
                        <p class="heroline">기본정보를 알려주세요. 성별, 연령대에 따라 몸에 필요한 식단을 추천해드려요</p>
                        <div class="buttonGroup">
                            <form method="POST">
                                {% csrf_token %}
                    
                                <label for="birth_year">출생년도</label>
                                <input type="number" id="birth_year" name="birth_year" placeholder="예:2000">
                    
                                <p>성별</p>
                                <label>
                                    <input type="radio" name="gender" value="M"> 남자
                                </label>
                                <label>
                                    <input type="radio" name="gender" value="F"> 여자
                                </label>
                    
                                <button type="submit">다음</button>
                            </form>
                        </div>
                    </div>
                    <div class="SideImg">
                        <div class="top-right-corner">
                            <hr class="hr1">
                            <hr class="hr2">
                        </div>
                        <img src="/media/logo.png" alt="nutrilife 로고">
                        <div class="bottom-left-corner">
                            <hr class="hr1">
                            <hr class="hr2">
                        </div>
                    </div>
                </div>
            </div>
    </main>

</body>
</html>